// Main site header.
body > header {
    clear: both;

    min-width: 1024px;
    width: 80%;

    margin: 0 auto;
    padding: 32px;

    // Site navigation.
    nav {
        float: right;

        a {
            display: inline-block;
            line-height: 23px;
            font-size: 23px;
            font-family: 'Montserrat', sans-serif;
            font-variant: small-caps;

            padding-left: 8px;
            padding-right: 8px;

            color: #000;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

section > article {
    min-width: 1024px;
    width: 80%;

    margin: 36px auto;

    font-family: 'Montserrat', sans-serif;

    h1 {
        font-size: 36px;
    }
}

section > .banner {
    background-color: #000;

    .content {
        clear: both;
        width: 80%;

        margin: 0 auto;
        padding: 32px;

        font-weight: bold;
        color: #efefef;
    }
}
