{% extends '../templates/base.html' %}

{% block title %}
    Download
{% endblock %}

{% block content %}
    <section id="download">

        <div class="banner">
            <div class="content">
                Download Cosmodon
            </div>
        </div>

        <article>
            Binaries for Cosmodon will be distributed when the library matures.

            <br /><br />

            Meanwhile, you can
                <a href="https://www.github.com/lanyardtextile/cosmodon">
                    view the source code on GitHub
                </a>
            and compile the library manually.

            <br /><br />
            
            Cosmodon is C++11 compliant and best compiled on Linux. In the near future, more platforms will be supported.
        </article>

    </section>
{% endblock %}
